@font-face {
  font-family: 'Hestia Font';
  src: url('../fonts/Brandon_blk.otf');
}

.hestia-font {
  font-family: 'Hestia Font';
}

ul {
  padding: 0;
}

.links a{
        color:white;

  display: inline-block;
  min-width: 130px;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.links {
  display: block;
  text-align: center;
}
